<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Tamara Noeli Grimal Despott</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p id="descripcion">Hola,espero que esten muy bien! Me presento,me llamo Tamara Noeli Grimal Despott pero mis cercanos me dicen Tam,soy de la ciudad de Berisso,provincia de Buenos Aires.Actualmente tengo 33 años de edad,alla por mis 16 años comence a interesarme por el mundo del hardware (ya venia de mas chica pero mi pasar economico no me permitia mucho) asi fue que para mis 18 años ya sabia mas o menos lo que era reparar una pc,la idea de programar vino mas tarde como a mis 24 años,por una o otra cosa no lo lleve a cabo hasta que un buen amigo me informo sobre #ArgentinaPrograma y es hoy en día que me apasione en este mundo que complementa mis conocimientos anteriores,asi mismo complete la 1er parte del curso (#seProgramar) y la 2da etapa (#yoProgramo)finalizando con este lindo e humilde porfolio .</p>
        </span>
    </div>
</div>