<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Plan nacional de formación en programación(Argentina Programa)</h1> <h3> (2021/2022)</h3>
            </li>
            <p>Capacitación en programación gratuita y virtual(Modo online).

            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso de inglés para desarrollo de software</h1> <h3> (2022/2022)</h3>
            </li>
            <p>Capacitación en el idioma ingles complemento del plan Argentina Programa(Modo online).

            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso de soldador basico</h1> <h3> (2022/2022)</h3>
            </li>
            <p>Centro de formación profesional N°404 Berisso(Modo presencial).

            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso De operador de Torno Paralelo (Tornero)</h1> <h3>2021/2021</h3>
            </li>
            <p>Centro de formación profesional N°404 Berisso(Modo presencial).

            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso de Reparacion de Pc/Conexion de Redes</h1> <h3> (2012/2012)</h3>
            </li>
            <p>Centro de formación profesional N°402 ,Berisso.

            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso de Peluqueria</h1> <h3> (2010/2011)</h3>
            </li>
            <p>El palacio del peinador,La Plata.

            </p>
        </ul>
        <ul>
            <li>
                <h1>Curso de Diseño e Indumentaria</h1> <h3> (2010/2011)</h3>
            </li>
            <p>Instituto publico,Ensenada

            </p>
        </ul>
             
    </div>
</div>

